* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Contenedor principal */
.infinite-slider {
  width: 100%;
  overflow: hidden;

  padding: 40px 0;
}

/* Área visible */
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Track animado */
.slide-track {
  display: flex;
  width: calc(250px * 10);
  animation: scroll 30s linear infinite;
}

/* Cada slide */
.slide {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

.slide img {
  max-width: 100%;
  height: 80px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.slide img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* Animación infinita */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}
