@import "tailwindcss";
@import "flowbite/src/themes/default";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
/* You can add global styles to this file, and also import other style files */

/* choose one of the following */

/* @plugin "flowbite/plugin";
@source "../node_modules/flowbite"; */
